/* Fonts */
$font-stack: SFUIText, Helvetica, Arial, sans-serif;

/* Colors */
$fuchsia: #EE6EFF;
$turquoise: #00A7D1;
$teal: #2BCABD;
$red: #cc0000;
$border-gray: #D7DADE;
$background-gray: #F7F7F7;
$dark-gray-font: #333333;

/* Sizes */
$footer-height: 54px;
